section#coding-challenges {
  width: 990px;
  min-height: 285px;
  padding: 15px 0 50px;
  margin: auto;
  border-radius: 3px;
  background-color: #8ad6ef;
  color: white;

  h1 {
    text-align: center;
    font-size: 48px;
  }

  div#search-filters {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  div#difficulty-filters {
    display: flex;
    width: 250px;
    justify-content: space-between;
  }

  input#easy-checkbox, input#medium-checkbox, input#hard-checkbox {
    display: none;
  }

  input[type="checkbox"] + label {
    display: flex;
    font-size: 27px;
    opacity: 0.5;
  }

  input[type="checkbox"]:checked + label {
    opacity: 1;
  }

  input[type="checkbox"] + label:hover {
    cursor: pointer;
  }

  input#name-filter {
    width: 300px;
    margin-left: 35px;
    font-size: 22px;
  }

  div#coding-challenge-list {
    margin-top: 35px;
  }

  li.coding-challenge > a {
    width: 90%;
    display: flex;
    justify-content: space-between;

    padding: 10px;
    margin: auto;
    border-radius: 5px;

    text-decoration: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }

  div.challenge-info {
    color: white;
    font-size: 20px;
  }

  div.challenge-difficulty {
    width: 65px;
  }

  div.challenge-name {
    width: 200px;
  }
}
