section#coding-challenge {
  margin-top: 35px;

  div#coding-challenge-info {
    display: flex;
    width: 950px;

    border-radius: 5px;
    margin: auto;

    background-color: #8ad6ef;
    color: white;
  }

  div#info-image, img#monster-image {
    width: 350px;
  }

  div#info-text {
    width: 600px;
    padding-top: 25px;
  }

  h2 {
    font-size: 30px;
    font-weight: bold;
  }

  li.attribute {
    display: flex;
    margin-top: 10px;
  }

  .attribute-type, .attribute-value, .attribute-values {
    font-size: 20px;
  }

  .attribute-type {
    font-weight: bold;
  }

  .attribute-value, .attribute-values {
    margin-left: 10px;
  }

  ul.attribute-values {
    padding-left: 35px;
    margin-left: 0;
  }

  ul.attribute-values > li {
    display: list-item;
    list-style: initial;
  }

  div#editor-container {
    width: 80%;
    padding: 50px 75px;
    margin: 50px auto 0;
    background-color: #8ad6ef;
    border-radius: 7px;
  }

  div.ReactCodeMirror {
    width: 85%;
    margin: auto;
  }

  div.CodeMirror.cm-s-default {
    border-radius: 8px;
  }

  div#solution-output-and-submit {

    margin-top: 35px;

    &:after {
      content: "";
      clear: both;
      display: block;
    }
  }

  div#submission-output {
    float: left;
    width: 42%;
    padding: 10px;
    margin-left: 5%;
    border-radius: 5px;
    background-color: #8ad6ef;

    > p {
      background-color: rgba(255, 255, 255, .05);
      padding: 10px;
      color: white;
    }
  }

  button#submit-solution {
    font-size: 25px;
    float: right;
    margin-right: 21.5%;

    &:hover {
      cursor: pointer;
    }
  }
}
