section#coding-challenges {
  width: 990px;
  margin: auto;

  h1 {
    text-align: center;
    font-size: 48px;
  }

  div#search-filters {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  div#difficulty-filters {
    display: flex;
    width: 250px;
    justify-content: space-between;
  }

  input#easy-checkbox, input#medium-checkbox, input#hard-checkbox {
    display: none;
  }

  input[type="checkbox"] + label {
    display: flex;
    font-size: 30px;
    opacity: 0.5;
  }

  input[type="checkbox"]:checked + label {
    opacity: 1;
  }

  input[type="checkbox"] + label:hover {
    cursor: pointer;
  }

  input#name-filter {
    width: 300px;
    margin-left: 35px;
    font-size: 22px;
  }

  div#coding-challenge-list {
    margin-top: 35px;
  }

  li.coding-challenge > a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }

  li.coding-challenge div {
    color: black;
  }

  li.coding-challenge div.challenge-difficulty {
    width: 65px;
  }

  li.coding-challenge div.challenge-name {
    width: 200px;
  }
}
