nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;

  div#site-header {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }

  img#site-logo {
    width: 70px;
    height: 70px;
  }

  h1 {
    font-size: 60px;
    font-weight: bold;
  }

  ul#nav-options {
    display: flex;
    padding-left: 25px;
    padding-right: 75px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #8ad6ef;
  }

  ul#nav-options > li {
    margin-right: 10px;
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }

  ul#nav-options a {
    font-size: 22px;
    color: white;
  }
}
