html, body, div#content {
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li, div, section {
  display: block;

  padding: 0;
  border: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, li, div, section, span {
  color: inherit;
  font: inherit;
  font-size: inherit;
}


li {
  list-style: none;
}
